body {
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(34, 34, 34);
    min-height: 100vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 0px;
    font-size: xx-large;
    background-color: rgb(107, 107, 107);
}

.buttons {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px 300px;
}

#scissors,
#rock,
#paper {
    padding: 100px;
    border: solid black 1px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 30px;
    border-radius: 10px;
}

#scissors {
    background: url(./pictures/scissors.jpg);
    background-size: contain;
}

#rock {
    background: url(./pictures/rock.jpg);
    background-size: contain;
}

#paper {
    background: url(./pictures/paper.jpg);
    background-size: contain;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 5px;
    font-size: 12px                        ;
}

.winOrLose,
.scoreboard {
    padding: 20px;
}